.payment_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #000000; */
}
.select_payment {
  width: 100%;
  max-width: 1440px;
  margin-bottom: 50px;
}

.input_div input {
  margin-bottom: 60px;
  border: none;
  outline: none;
  height: 25px;
  width: 30%;
  background-color: transparent;
  border-bottom: 1px solid #4e4e4e;
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
}
.payment_sec1 {
  background: #2a2a2a;
  width: 100%;
  /* max-width: 1440px;  */
  /* height: 490px; */
  padding: 40px 38px;
  margin-bottom: 45px;
  border-radius: 15px;
}
.payment_sec1 h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}
.payment_sec1 p {
  font-weight: 100;
  font-size: 14px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #c2c2c2;
}

.from {
  width: 60%;
  height: 150px;
  border: 1px dashed #4e4e4e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.from p {
  font-weight: 100;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #dddddd;
  text-align: center;
}
.from input {
  display: none;
}
.from label {
  padding: 0 20px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcc100;
  cursor: pointer;
}

.payment_sec1_sub2 {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
}

.submit_button {
  display: flex;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: none;
  background: var(--themeGradient);
  box-shadow: 5px 5px 5px 0px #000000;
  cursor: pointer;
}

.submit_button:hover {
  color: #000;
}

@media screen and (max-width: 1440px) {
  .select_payment {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1024px) {
  .payment_sec1 h1 {
    font-size: 28px;
  }
  .input_div input,
  .from {
    width: 100%;
  }

  .select_payment {
    width: 90%;
  }
}
