.label :hover {
  cursor: pointer;
  color: #000;
  background-color: #b38206;
}
.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddPhotoAlternateIcon {
  background-color: #2a2a2a;
  border-radius: 5px;
  fill: #0f0e13;
  font-size: 80px;
}

.forget_password_step2 {
  height: 100%;
  width: 100%;
}
.forget_password_container {
  height: 100%;
  background: rgba(15, 14, 19, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forget_password_sub_container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 24px;
}

.forget_password_sub_container > h1 {
  margin-bottom: 14px;
  font-style: italic;
}
.forget_password_sub_container > p {
  margin-bottom: 125px;
}
.forget_password_form {
  width: 100%;
  height: 100%;
}

.forget_password_form_sec1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.forget_password_form_sec2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin-bottom: 24px;
}
.forget_password_form_sec2 > input {
  margin-bottom: 37px;
  height: 48px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(42, 42, 42, 1);
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}

.errorPra {
  color: red;
  margin: 0;
  font-size: 12px;
}
.forget_password_form_btn {
  width: 100%;
  /* height: 45px; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border-radius: 6px;
  margin-bottom: 20px;
  background-color: #fcc100;
  border: none;
}
.login_form_password {
  display: flex;
  /* flex-direction: revert; */
  width: 100%;
  /* height: 10%; */
  height: 60px;
}
.login_form_password > input {
  margin-bottom: 37px;
  height: 48px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(42, 42, 42, 1);
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  width: 100%;
}
.passwordvisible_styling {
  /* margin-top: 30px; */
  margin-top: 16px;
  text-align: center;
  display: flex;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .forget_password_sub_container a img {
    height: 100px !important;
    width: 100px !important;
  }

  .forget_password_form_sec1 > p {
    width: 100%;
  }

  .forget_password_form_sec1 > h1 {
    font-size: 26px;
  }
  .forget_password_form_btn {
    margin-top: 10px;
    height: 40px;
    width: 70%;
  }
  .forget_password_form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forget_password_form_sec1 {
    margin-bottom: 30px;
  }

  .forget_password_form_sec2 {
    margin: 0 0 30px 0;
  }
}
