.forget_password_main {
  height: 100vh;
  width: 78vw;
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
}

.forget_password_main > .link {
  margin: 14px 0 0 0;
}

@media screen and (max-width: 1440px) {
  .forget_password_main {
    width: 90vw;
    /* height: 90vh; */
  }
}
