.otp_main {
  height: 100%;
  width: 100%;
}
.otp_container {
  height: 100%;
  background: rgba(15, 14, 19, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 24px;
  padding-top: 24px;
}

.otp_sub_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 24px; */
}

.otp_sub_container > h1 {
  /* margin-bottom: 14px; */
  font-style: italic;
}
.otp_sub_container > p {
  margin-bottom: 125px;
}

.otp_form {
  /* height: 80%; */
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  /* justify-content: space-between; */
}

.otp_form_sec1 {
  width: 100%;
  /* margin-bottom: 44px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.otp_form_sec2 {
  width: 100%;
  margin-bottom: 154px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.otp_form_sec2 {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid rgba(42, 42, 42, 1);
  text-align: center;
  font-size: 20px;
}

.otp_form_sec2 input::-webkit-outer-spin-button,
.otp_form_sec2 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp_btn_sec {
  width: 100%;
  /* height: 18%; */
  /* margin-bottom: 54px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.otp_form:nth-child(2) div input {
  padding: 0;
  caret-color: #fcc100;
  border-radius: 8px;
  background: transparent;
  /* width: 200px; */
  height: 54px;
  font-size: 18px;
  /* margin: 0 20px; */
  font-weight: 100;
  border: none;
  outline: none;
  border: 2px solid #cacaca;
}

.otp_form_btn1 {
  padding: 10px 20px;
  display: flex;
  margin-bottom: 24px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: none;
  background: transparent;
  box-shadow: 5px 5px 5px 0px #000000;
  border: 1px solid #fcc100;
  cursor: pointer;
}
.otp_form_btn1:hover {
  color: #000;
  border: none;
  background: var(--themeGradient);
}

.otp_form_btn2 {
  display: flex;
  margin-bottom: 24px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: none;
  background: var(--themeGradient);
  box-shadow: 5px 5px 5px 0px #000000;
  cursor: pointer;
}
.otp_form_btn2:hover {
  color: #000;
}

.otp_form_sec3 {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.otp_form > :nth-child(2) {
  margin-bottom: 24px;
  justify-content: center;
  gap: 25px;
}
.otp_form > :nth-child(2) > div {
  width: 10%;
}

@media screen and (max-width: 1024px) {
  .otp_form:nth-child(2) div input {
    font-size: 14px;
  }
  .otp_form_btn1,
  .otp_form_btn2 {
    font-size: 14px;
  }
  .otp_sub_container a img {
    height: 100px !important;
    width: 100px !important;
  }
  .otp_form > :nth-child(2) div {
    width: 25% !important;
  }
}
