.steper_parent {
  width: 100%;
}
.steper_dash {
  border-bottom: 2px solid #fcc100;
  width: 40%;
}
.steper {
  display: flex;
  width: 99%;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.label :hover {
  cursor: pointer;
}
.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddPhotoAlternateIcon {
  background-color: #2a2a2a;
  border-radius: 5px;
  fill: #0f0e13;
  font-size: 80px;
}

.link {
  /* margin: 14px 0; */
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}
.link:hover {
  color: #fcc100;
}

.signup_step1 {
  height: 100%;
  width: 100%;
}
.signup_container {
  height: 100%;
  background: rgba(15, 14, 19, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  gap: 24px;
}

.signup_sub_container {
  /* margin-top: 20px; */
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_sub_container > h1 {
  margin-bottom: 14px;
  font-style: italic;
}
.signup_sub_container > p {
  margin-bottom: 25px;
}

.steps_box {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.step1_box {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fcc100;
}
.step2_box {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fcc100;
}
.step3_box {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #fcc100;
}
.signup_form {
  height: 100%;
  width: 80%;
}

.signup_form_sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  margin-bottom: 24px;
}

.signup_form_sec1 > h1 {
  margin-bottom: 5px;
}

.signup_form_sec2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.signup_form_sec2 > div {
  width: 46%;
}

.signup_form_sec3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-top: 50px; */
  margin-bottom: 24px;
}

.signup_form_sec3 div {
  display: flex;
  justify-content: space-between;
}

.signup_form_sec3 > div > label {
  width: 45%;
}

.signup_form_sec3 > div > label > input {
  /* margin-bottom: px; */
  height: 48px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(42, 42, 42, 1);
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  width: 98%;
  padding-left: 10px;
}

.signup_form_sec4 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.signup_form_sec4 > label {
  margin-bottom: 24px;
}
.signup_form_sec4 > label > input {
  height: 48px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(42, 42, 42, 1);
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 26px;
  color: #ffffff;
  width: 100%;
  padding-left: 10px;
}

.signup_form_sec4 input::-webkit-outer-spin-button,
.signup_form_sec4 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.errorPra {
  color: red;
  margin: 0;
  font-size: 12px;
}

.signup_form_btn {
  width: 100%;
  /* height: 45px; */
  height: 50px;
  display: flex;
  margin-bottom: 24px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: none;
  background: var(--themeGradient);
  box-shadow: 5px 5px 5px 0px #000000;
  cursor: pointer;
}

.signup_form_btn:hover {
  color: #000;
}
.signup_form_sec5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_form_sec5 p {
  margin-right: 5px;
}
.signup_form_sec5 a {
  color: #fcc100;
}

.p_number {
  margin-bottom: 24px;
}

.p_number > input {
  height: 48px;
  width: 100% !important;
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid rgba(42, 42, 42, 1) !important;
  font-style: normal;
  font-weight: 100 !important;
  font-size: 15px !important;
  line-height: 26px;
  color: #ffffff;
  width: 100%;
  padding-left: 10px;
}

.p_number > div {
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
}

.p_number > div :nth-child(2) div {
  background-color: #fff !important;
  border: none !important;
  color: #fff !important;
}
.p_number div:hover {
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
}

.p_number > div ul {
  background-color: #000 !important;
  border: none !important;
  color: #fff !important;
}

.p_number > div ul::-webkit-scrollbar {
  /* Styles for the scrollbar itself */
  width: 8px; /* Set the width of the scrollbar */
}

.p_number > div ul::-webkit-scrollbar-thumb {
  /* Styles for the scrollbar thumb */
  background-color: #2a2a2a; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.p_number > div ul::-webkit-scrollbar-thumb:hover {
  /* Styles when hovering over the scrollbar thumb */
  background-color: #fcc100; /* Color of the scrollbar thumb on hover */
}

.p_number > div ul::-webkit-scrollbar-thumb:active {
  /* Styles when clicking on the scrollbar thumb */
  background-color: #fcc100; /* Color of the scrollbar thumb on active/click */
}

.p_number > div ul li:hover {
  background-color: #fcc100 !important;
  border: none !important;
  color: #fff !important;
}
.p_number > div ul li:focus {
  background-color: #fcc100 !important;
  border: none !important;
  color: #fff !important;
}

.signup_form_sec3 > div > label > input::placeholder,
.signup_form_sec4 > label > input::placeholder,
.p_number input::placeholder {
  color: #7a7a7a;
}

@media only screen and (max-width: 1024px) {
  .signup_form_sec3 > div > label > input {
    font-size: 14px !important;
    /* line-height: 24px; */
  }
  .signup_form_sec4 > label > input {
    font-size: 14px !important;
    /* line-height: 24px; */
  }

  .steper_parent {
    width: 90%;
  }

  .signup_form_sec3 {
    margin-top: 00px;
  }
  .signup_form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .signup_form_sec1 {
    margin-bottom: 20px;
    width: 100%;
  }

  .signup_form_btn {
    margin-top: 30px;
    height: 40px;
    width: 70%;
  }
  .signup_sub_container a img {
    height: 100px !important;
    width: 100px !important;
  }
}
