.done_main {
  height: 100%;
  width: 50%;
}
.done_container {
  height: 100%;
  background: rgba(15, 14, 19, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.done_sub_container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 24px;
}

.done_sec1 {
  width: 45%;
  height: 25%;
  background: url(../src/asset/doneBg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.done_sec2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.done_sec2 a {
  color: #f1a00b;
}

@media screen and (max-width: 1024px) {
  .done_main {
    width: 100%;
  }
}
